<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="../style/login.css">

</head>
<body>

<div class="mobile-screen">
    <div class="login-container">
        <h1>CADASTRO</h1>
        <form>
            <div class="input-group">
                <label for="username">Usuário</label>
                <input type="text" id="usernameTexto" name="username">
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="passwordTexto" name="password">
            </div>
        </form>
            <button class="button" onclick="criarConta()">
                CRIAR CONTA
            </button>
    </div>
</div>

<script src="../scripts/script.js"defer></script>
<script src="../scripts/criarConta.js"defer></script>

</body>
</html>