<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Calendário</title>

  <link rel="stylesheet" href="../style/style.css">
</head>
<body>

<div class="mobile-screen">
  <header>
    <div class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </header>

  <main class="content">
    <a>
      <section class="card">
        <h2>Calendário ></h2>
        <div class="calendarioItens">
          <ul>
            <h1>compromisso</h1>
          </ul>

        </div>
      </section>
    </a>

    <a th:href="@{/wishlist/123}" class="card-link">
      <section class="card">
        <h2>Wishlist ></h2>
      </section>
    </a>
  </main>
</div>

</body>
</html>