<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../scripts/script.js"></script>
  <title>App Calendário</title>

  <link rel="stylesheet" href="../style/style.css">
</head>
<body>

<div class="mobile-screen">
  <header>
    <div class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </header>

  <main class="content">
    <a>
      <section class="card">
        <h2>Calendário ></h2>
        <div class="calendarioItens">
          <pre id="containerCalendario" onload="listar()"></pre>
        </div>
      </section>
    </a>

    <a class="card-link">
      <section class="card">
        <h2>Wishlist ></h2>
      </section>
    </a>
  </main>
</div>

</body>
</html>