<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist - App Calendário</title>

    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/wishlist.css">

</head>
<body onload="criarItemWishlist()">

<div class="mobile-screen">
    <header class="detail-header">
        <a href="index.html" class="back-button">&lt;</a>
        <div class="header-title">Wishlist</div>
    </header>

    <main class="content">
        <div class="item-list" id="wishlist-container">

        </div>
    </main>
</div>

    <script src="../scripts/criarItem.js" defer></script>
    <script src="../scripts/script.js" defer></script>
</body>
</html>
